In [1]:
import pandas as pd
from scipy import stats
from pydataset import data
import numpy as np
import env
import os
import prepare
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

print the first 3 rows

In [2]:
df_iris = data('iris')

print the number of rows and columns (shape)

In [3]:
df_iris.shape

(150, 5)

print the column names

In [4]:
list(df_iris.columns)

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

print the data type of each column

In [5]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

print the summary statistics for each of the numeric variables

In [6]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Read the data from this google sheet into a dataframe, df_google.

In [7]:




sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

print the first 3 rows

In [8]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

print the number of rows and columns

In [9]:
df_google.shape

(891, 12)

print the column names

In [10]:
list(df_google.columns)

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

print the data type of each column

In [11]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

print the summary statistics for each of the numeric variables

In [12]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

print the unique values for each of your categorical variables

In [13]:
print(df_google.nunique())

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

assign the first 100 rows to a new dataframe, df_excel_sample

In [14]:
df_excel = pd.read_excel('train.xlsx')
df_excel_sample = df_excel.head(100)

print the number of rows of your original dataframe

In [15]:
df_excel.shape[0]

891

print the first 5 column names

In [16]:
df_excel.columns[0:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

print the column names that have a data type of object

In [17]:
df_excel.select_dtypes("object").columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

compute the range for each of the numeric variables.

In [18]:
titanic_stats = df_excel[['Age', 'Fare']].describe()
titanic_stats

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

Make a new python module, acquire.py to hold the following data aquisition functions:

Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

Make a function named get_telco_data that returns the data from the telco_churn database in SQL. In your SQL, be sure to join contract_types, internet_service_types, payment_types tables with the customers table, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

Once you've got your get_titanic_data, get_iris_data, and get_telco_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of telco.csv, titanic.csv, or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [19]:
import acquire

Using the Iris Data:

Use the function defined in acquire.py to load the iris data.

In [20]:
iris_df = acquire.get_iris_data()
iris_df.head()

,Unnamed: 0,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,1,2,4.9,3.0,1.4,0.2,setosa
2,2,1,3,4.7,3.2,1.3,0.2,setosa
3,3,1,4,4.6,3.1,1.5,0.2,setosa
4,4,1,5,5.0,3.6,1.4,0.2,setosa

Drop the species_id and measurement_id columns.

In [21]:
iris_df.drop(['measurement_id','species_id'], axis = 1, inplace = True)

In [22]:
iris_df

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa
5,5,5.4,3.9,1.7,0.4,setosa
6,6,4.6,3.4,1.4,0.3,setosa
7,7,5.0,3.4,1.5,0.2,setosa
8,8,4.4,2.9,1.4,0.2,setosa
9,9,4.9,3.1,1.5,0.1,setosa
10,10,5.4,3.7,1.5,0.2,setosa
11,11,4.8,3.4,1.6,0.2,setosa
12,12,4.8,3.0,1.4,0.1,setosa
13,13,4.3,3.0,1.1,0.1,setosa
14,14,5.8,4.0,1.2,0.2,setosa
15,15,5.7,4.4,1.5,0.4,setosa
16,16,5.4,3.9,1.3,0.4,setosa
17,17,5.1,3.5,1.4,0.3,setosa
18,18,5.7,3.8,1.7,0.3,setosa
19,19,5.1,3.8,1.5,0.3,setosa
20,20,5.4,3.4,1.7,0.2,setosa
21,21,5.1,3.7,1.5,0.4,setosa
22,22,4.6,3.6,1.0,0.2,setosa
23,23,5.1,3.3,1.7,0.5,setosa
24,24,4.8,3.4,1.9,0.2,setosa
25,25,5.0,3.0,1.6,0.2,setosa
26,26,5.0,3.4,1.6,0.4,setosa
27,27,5.2,3.5,1.5,0.2,setosa
28,28,5.2,3.4,1.4,0.2,setosa
29,29,4.7,3.2,1.6,0.2,setosa
30,30,4.8,3.1,1.6,0.2,setosa
31,31,5.4,3.4,1.5,0.4,setosa
32,32,5.2,4.1,1.5,0.1,setosa
33,33,5.5,4.2,1.4,0.2,setosa
34,34,4.9,3.1,1.5,0.2,setosa
35,35,5.0,3.2,1.2,0.2,setosa
36,36,5.5,3.5,1.3,0.2,setosa
37,37,4.9,3.6,1.4,0.1,setosa
38,38,4.4,3.0,1.3,0.2,setosa
39,39,5.1,3.4,1.5,0.2,setosa
40,40,5.0,3.5,1.3,0.3,setosa
41,41,4.5,2.3,1.3,0.3,setosa
42,42,4.4,3.2,1.3,0.2,setosa
43,43,5.0,3.5,1.6,0.6,setosa
44,44,5.1,3.8,1.9,0.4,setosa
45,45,4.8,3.0,1.4,0.3,setosa
46,46,5.1,3.8,1.6,0.2,setosa
47,47,4.6,3.2,1.4,0.2,setosa
48,48,5.3,3.7,1.5,0.2,setosa
49,49,5.0,3.3,1.4,0.2,setosa
50,50,7.0,3.2,4.7,1.4,versicolor
51,51,6.4,3.2,4.5,1.5,versicolor
52,52,6.9,3.1,4.9,1.5,versicolor
53,53,5.5,2.3,4.0,1.3,versicolor
54,54,6.5,2.8,4.6,1.5,versicolor
55,55,5.7,2.8,4.5,1.3,versicolor
56,56,6.3,3.3,4.7,1.6,versicolor
57,57,4.9,2.4,3.3,1.0,versicolor
58,58,6.6,2.9,4.6,1.3,versicolor
59,59,5.2,2.7,3.9,1.4,versicolor
60,60,5.0,2.0,3.5,1.0,versicolor
61,61,5.9,3.0,4.2,1.5,versicolor
62,62,6.0,2.2,4.0,1.0,versicolor
63,63,6.1,2.9,4.7,1.4,versicolor
64,64,5.6,2.9,3.6,1.3,versicolor
65,65,6.7,3.1,4.4,1.4,versicolor
66,66,5.6,3.0,4.5,1.5,versicolor
67,67,5.8,2.7,4.1,1.0,versicolor
68,68,6.2,2.2,4.5,1.5,versicolor
69,69,5.6,2.5,3.9,1.1,versicolor
70,70,5.9,3.2,4.8,1.8,versicolor
71,71,6.1,2.8,4.0,1.3,versicolor
72,72,6.3,2.5,4.9,1.5,versicolor
73,73,6.1,2.8,4.7,1.2,versicolor
74,74,6.4,2.9,4.3,1.3,versicolor
75,75,6.6,3.0,4.4,1.4,versicolor
76,76,6.8,2.8,4.8,1.4,versicolor
77,77,6.7,3.0,5.0,1.7,versicolor
78,78,6.0,2.9,4.5,1.5,versicolor
79,79,5.7,2.6,3.5,1.0,versicolor
80,80,5.5,2.4,3.8,1.1,versicolor
81,81,5.5,2.4,3.7,1.0,versicolor
82,82,5.8,2.7,3.9,1.2,versicolor
83,83,6.0,2.7,5.1,1.6,versicolor
84,84,5.4,3.0,4.5,1.5,versicolor
85,85,6.0,3.4,4.5,1.6,versicolor
86,86,6.7,3.1,4.7,1.5,versicolor
87,87,6.3,2.3,4.4,1.3,versicolor
88,88,5.6,3.0,4.1,1.3,versicolor
89,89,5.5,2.5,4.0,1.3,versicolor
90,90,5.5,2.6,4.4,1.2,versicolor
91,91,6.1,3.0,4.6,1.4,versicolor
92,92,5.8,2.6,4.0,1.2,versicolor
93,93,5.0,2.3,3.3,1.0,versicolor
94,94,5.6,2.7,4.2,1.3,versicolor
95,95,5.7,3.0,4.2,1.2,versicolor
96,96,5.7,2.9,4.2,1.3,versicolor
97,97,6.2,2.9,4.3,1.3,versicolor
98,98,5.1,2.5,3.0,1.1,versicolor
99,99,5.7,2.8,4.1,1.3,versicolor
100,100,6.3,3.3,6.0,2.5,virginica
101,101,5.8,2.7,5.1,1.9,virginica
102,102,7.1,3.0,5.9,2.1,virginica
103,103,6.3,2.9,5.6,1.8,virginica
104,104,6.5,3.0,5.8,2.2,virginica
105,105,7.6,3.0,6.6,2.1,virginica
106,106,4.9,2.5,4.5,1.7,virginica
107,107,7.3,2.9,6.3,1.8,virginica
108,108,6.7,2.5,5.8,1.8,virginica
109,109,7.2,3.6,6.1,2.5,virginica
110,110,6.5,3.2,5.1,2.0,virginica
111,111,6.4,2.7,5.3,1.9,virginica
112,112,6.8,3.0,5.5,2.1,virginica
113,113,5.7,2.5,5.0,2.0,virginica
114,114,5.8,2.8,5.1,2.4,virginica
115,115,6.4,3.2,5.3,2.3,virginica
116,116,6.5,3.0,5.5,1.8,virginica
117,117,7.7,3.8,6.7,2.2,virginica
118,118,7.7,2.6,6.9,2.3,virginica
119,119,6.0,2.2,5.0,1.5,virginica
120,120,6.9,3.2,5.7,2.3,virginica
121,121,5.6,2.8,4.9,2.0,virginica
122,122,7.7,2.8,6.7,2.0,virginica
123,123,6.3,2.7,4.9,1.8,virginica
124,124,6.7,3.3,5.7,2.1,virginica
125,125,7.2,3.2,6.0,1.8,virginica
126,126,6.2,2.8,4.8,1.8,virginica
127,127,6.1,3.0,4.9,1.8,virginica
128,128,6.4,2.8,5.6,2.1,virginica
129,129,7.2,3.0,5.8,1.6,virginica
130,130,7.4,2.8,6.1,1.9,virginica
131,131,7.9,3.8,6.4,2.0,virginica
132,132,6.4,2.8,5.6,2.2,virginica
133,133,6.3,2.8,5.1,1.5,virginica
134,134,6.1,2.6,5.6,1.4,virginica
135,135,7.7,3.0,6.1,2.3,virginica
136,136,6.3,3.4,5.6,2.4,virginica
137,137,6.4,3.1,5.5,1.8,virginica
138,138,6.0,3.0,4.8,1.8,virginica
139,139,6.9,3.1,5.4,2.1,virginica
140,140,6.7,3.1,5.6,2.4,virginica
141,141,6.9,3.1,5.1,2.3,virginica
142,142,5.8,2.7,5.1,1.9,virginica
143,143,6.8,3.2,5.9,2.3,virginica
144,144,6.7,3.3,5.7,2.5,virginica
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,virginica
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

Rename the species_name column to just species.

In [23]:
iris_df.rename(columns = {'species_name':'species'}, inplace = True)

In [24]:
iris_df

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa
5,5,5.4,3.9,1.7,0.4,setosa
6,6,4.6,3.4,1.4,0.3,setosa
7,7,5.0,3.4,1.5,0.2,setosa
8,8,4.4,2.9,1.4,0.2,setosa
9,9,4.9,3.1,1.5,0.1,setosa
10,10,5.4,3.7,1.5,0.2,setosa
11,11,4.8,3.4,1.6,0.2,setosa
12,12,4.8,3.0,1.4,0.1,setosa
13,13,4.3,3.0,1.1,0.1,setosa
14,14,5.8,4.0,1.2,0.2,setosa
15,15,5.7,4.4,1.5,0.4,setosa
16,16,5.4,3.9,1.3,0.4,setosa
17,17,5.1,3.5,1.4,0.3,setosa
18,18,5.7,3.8,1.7,0.3,setosa
19,19,5.1,3.8,1.5,0.3,setosa
20,20,5.4,3.4,1.7,0.2,setosa
21,21,5.1,3.7,1.5,0.4,setosa
22,22,4.6,3.6,1.0,0.2,setosa
23,23,5.1,3.3,1.7,0.5,setosa
24,24,4.8,3.4,1.9,0.2,setosa
25,25,5.0,3.0,1.6,0.2,setosa
26,26,5.0,3.4,1.6,0.4,setosa
27,27,5.2,3.5,1.5,0.2,setosa
28,28,5.2,3.4,1.4,0.2,setosa
29,29,4.7,3.2,1.6,0.2,setosa
30,30,4.8,3.1,1.6,0.2,setosa
31,31,5.4,3.4,1.5,0.4,setosa
32,32,5.2,4.1,1.5,0.1,setosa
33,33,5.5,4.2,1.4,0.2,setosa
34,34,4.9,3.1,1.5,0.2,setosa
35,35,5.0,3.2,1.2,0.2,setosa
36,36,5.5,3.5,1.3,0.2,setosa
37,37,4.9,3.6,1.4,0.1,setosa
38,38,4.4,3.0,1.3,0.2,setosa
39,39,5.1,3.4,1.5,0.2,setosa
40,40,5.0,3.5,1.3,0.3,setosa
41,41,4.5,2.3,1.3,0.3,setosa
42,42,4.4,3.2,1.3,0.2,setosa
43,43,5.0,3.5,1.6,0.6,setosa
44,44,5.1,3.8,1.9,0.4,setosa
45,45,4.8,3.0,1.4,0.3,setosa
46,46,5.1,3.8,1.6,0.2,setosa
47,47,4.6,3.2,1.4,0.2,setosa
48,48,5.3,3.7,1.5,0.2,setosa
49,49,5.0,3.3,1.4,0.2,setosa
50,50,7.0,3.2,4.7,1.4,versicolor
51,51,6.4,3.2,4.5,1.5,versicolor
52,52,6.9,3.1,4.9,1.5,versicolor
53,53,5.5,2.3,4.0,1.3,versicolor
54,54,6.5,2.8,4.6,1.5,versicolor
55,55,5.7,2.8,4.5,1.3,versicolor
56,56,6.3,3.3,4.7,1.6,versicolor
57,57,4.9,2.4,3.3,1.0,versicolor
58,58,6.6,2.9,4.6,1.3,versicolor
59,59,5.2,2.7,3.9,1.4,versicolor
60,60,5.0,2.0,3.5,1.0,versicolor
61,61,5.9,3.0,4.2,1.5,versicolor
62,62,6.0,2.2,4.0,1.0,versicolor
63,63,6.1,2.9,4.7,1.4,versicolor
64,64,5.6,2.9,3.6,1.3,versicolor
65,65,6.7,3.1,4.4,1.4,versicolor
66,66,5.6,3.0,4.5,1.5,versicolor
67,67,5.8,2.7,4.1,1.0,versicolor
68,68,6.2,2.2,4.5,1.5,versicolor
69,69,5.6,2.5,3.9,1.1,versicolor
70,70,5.9,3.2,4.8,1.8,versicolor
71,71,6.1,2.8,4.0,1.3,versicolor
72,72,6.3,2.5,4.9,1.5,versicolor
73,73,6.1,2.8,4.7,1.2,versicolor
74,74,6.4,2.9,4.3,1.3,versicolor
75,75,6.6,3.0,4.4,1.4,versicolor
76,76,6.8,2.8,4.8,1.4,versicolor
77,77,6.7,3.0,5.0,1.7,versicolor
78,78,6.0,2.9,4.5,1.5,versicolor
79,79,5.7,2.6,3.5,1.0,versicolor
80,80,5.5,2.4,3.8,1.1,versicolor
81,81,5.5,2.4,3.7,1.0,versicolor
82,82,5.8,2.7,3.9,1.2,versicolor
83,83,6.0,2.7,5.1,1.6,versicolor
84,84,5.4,3.0,4.5,1.5,versicolor
85,85,6.0,3.4,4.5,1.6,versicolor
86,86,6.7,3.1,4.7,1.5,versicolor
87,87,6.3,2.3,4.4,1.3,versicolor
88,88,5.6,3.0,4.1,1.3,versicolor
89,89,5.5,2.5,4.0,1.3,versicolor
90,90,5.5,2.6,4.4,1.2,versicolor
91,91,6.1,3.0,4.6,1.4,versicolor
92,92,5.8,2.6,4.0,1.2,versicolor
93,93,5.0,2.3,3.3,1.0,versicolor
94,94,5.6,2.7,4.2,1.3,versicolor
95,95,5.7,3.0,4.2,1.2,versicolor
96,96,5.7,2.9,4.2,1.3,versicolor
97,97,6.2,2.9,4.3,1.3,versicolor
98,98,5.1,2.5,3.0,1.1,versicolor
99,99,5.7,2.8,4.1,1.3,versicolor
100,100,6.3,3.3,6.0,2.5,virginica
101,101,5.8,2.7,5.1,1.9,virginica
102,102,7.1,3.0,5.9,2.1,virginica
103,103,6.3,2.9,5.6,1.8,virginica
104,104,6.5,3.0,5.8,2.2,virginica
105,105,7.6,3.0,6.6,2.1,virginica
106,106,4.9,2.5,4.5,1.7,virginica
107,107,7.3,2.9,6.3,1.8,virginica
108,108,6.7,2.5,5.8,1.8,virginica
109,109,7.2,3.6,6.1,2.5,virginica
110,110,6.5,3.2,5.1,2.0,virginica
111,111,6.4,2.7,5.3,1.9,virginica
112,112,6.8,3.0,5.5,2.1,virginica
113,113,5.7,2.5,5.0,2.0,virginica
114,114,5.8,2.8,5.1,2.4,virginica
115,115,6.4,3.2,5.3,2.3,virginica
116,116,6.5,3.0,5.5,1.8,virginica
117,117,7.7,3.8,6.7,2.2,virginica
118,118,7.7,2.6,6.9,2.3,virginica
119,119,6.0,2.2,5.0,1.5,virginica
120,120,6.9,3.2,5.7,2.3,virginica
121,121,5.6,2.8,4.9,2.0,virginica
122,122,7.7,2.8,6.7,2.0,virginica
123,123,6.3,2.7,4.9,1.8,virginica
124,124,6.7,3.3,5.7,2.1,virginica
125,125,7.2,3.2,6.0,1.8,virginica
126,126,6.2,2.8,4.8,1.8,virginica
127,127,6.1,3.0,4.9,1.8,virginica
128,128,6.4,2.8,5.6,2.1,virginica
129,129,7.2,3.0,5.8,1.6,virginica
130,130,7.4,2.8,6.1,1.9,virginica
131,131,7.9,3.8,6.4,2.0,virginica
132,132,6.4,2.8,5.6,2.2,virginica
133,133,6.3,2.8,5.1,1.5,virginica
134,134,6.1,2.6,5.6,1.4,virginica
135,135,7.7,3.0,6.1,2.3,virginica
136,136,6.3,3.4,5.6,2.4,virginica
137,137,6.4,3.1,5.5,1.8,virginica
138,138,6.0,3.0,4.8,1.8,virginica
139,139,6.9,3.1,5.4,2.1,virginica
140,140,6.7,3.1,5.6,2.4,virginica
141,141,6.9,3.1,5.1,2.3,virginica
142,142,5.8,2.7,5.1,1.9,virginica
143,143,6.8,3.2,5.9,2.3,virginica
144,144,6.7,3.3,5.7,2.5,virginica
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,virginica
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [25]:
dummies = pd.get_dummies(iris_df[['species']],drop_first = [True])
iris_df = pd.concat([iris_df,dummies], axis = 1)

Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [26]:
def clean_iris(df):
    df.drop(['measurement_id','species_id'], axis = 1, inplace = True)
    df.rename(columns = {'species_name':'species'}, inplace = True)
    dummies = pd.get_dummies(df[['species']],drop_first = [True, True])
    df = pd.concat([df,dummies], axis = 1)
    return df

iris_dirty = acquire.get_iris_data()

clean_iris(iris_dirty)

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species,species_versicolor,species_virginica
0,0,5.1,3.5,1.4,0.2,setosa,0,0
1,1,4.9,3.0,1.4,0.2,setosa,0,0
2,2,4.7,3.2,1.3,0.2,setosa,0,0
3,3,4.6,3.1,1.5,0.2,setosa,0,0
4,4,5.0,3.6,1.4,0.2,setosa,0,0
5,5,5.4,3.9,1.7,0.4,setosa,0,0
6,6,4.6,3.4,1.4,0.3,setosa,0,0
7,7,5.0,3.4,1.5,0.2,setosa,0,0
8,8,4.4,2.9,1.4,0.2,setosa,0,0
9,9,4.9,3.1,1.5,0.1,setosa,0,0
10,10,5.4,3.7,1.5,0.2,setosa,0,0
11,11,4.8,3.4,1.6,0.2,setosa,0,0
12,12,4.8,3.0,1.4,0.1,setosa,0,0
13,13,4.3,3.0,1.1,0.1,setosa,0,0
14,14,5.8,4.0,1.2,0.2,setosa,0,0
15,15,5.7,4.4,1.5,0.4,setosa,0,0
16,16,5.4,3.9,1.3,0.4,setosa,0,0
17,17,5.1,3.5,1.4,0.3,setosa,0,0
18,18,5.7,3.8,1.7,0.3,setosa,0,0
19,19,5.1,3.8,1.5,0.3,setosa,0,0
20,20,5.4,3.4,1.7,0.2,setosa,0,0
21,21,5.1,3.7,1.5,0.4,setosa,0,0
22,22,4.6,3.6,1.0,0.2,setosa,0,0
23,23,5.1,3.3,1.7,0.5,setosa,0,0
24,24,4.8,3.4,1.9,0.2,setosa,0,0
25,25,5.0,3.0,1.6,0.2,setosa,0,0
26,26,5.0,3.4,1.6,0.4,setosa,0,0
27,27,5.2,3.5,1.5,0.2,setosa,0,0
28,28,5.2,3.4,1.4,0.2,setosa,0,0
29,29,4.7,3.2,1.6,0.2,setosa,0,0
30,30,4.8,3.1,1.6,0.2,setosa,0,0
31,31,5.4,3.4,1.5,0.4,setosa,0,0
32,32,5.2,4.1,1.5,0.1,setosa,0,0
33,33,5.5,4.2,1.4,0.2,setosa,0,0
34,34,4.9,3.1,1.5,0.2,setosa,0,0
35,35,5.0,3.2,1.2,0.2,setosa,0,0
36,36,5.5,3.5,1.3,0.2,setosa,0,0
37,37,4.9,3.6,1.4,0.1,setosa,0,0
38,38,4.4,3.0,1.3,0.2,setosa,0,0
39,39,5.1,3.4,1.5,0.2,setosa,0,0
40,40,5.0,3.5,1.3,0.3,setosa,0,0
41,41,4.5,2.3,1.3,0.3,setosa,0,0
42,42,4.4,3.2,1.3,0.2,setosa,0,0
43,43,5.0,3.5,1.6,0.6,setosa,0,0
44,44,5.1,3.8,1.9,0.4,setosa,0,0
45,45,4.8,3.0,1.4,0.3,setosa,0,0
46,46,5.1,3.8,1.6,0.2,setosa,0,0
47,47,4.6,3.2,1.4,0.2,setosa,0,0
48,48,5.3,3.7,1.5,0.2,setosa,0,0
49,49,5.0,3.3,1.4,0.2,setosa,0,0
50,50,7.0,3.2,4.7,1.4,versicolor,1,0
51,51,6.4,3.2,4.5,1.5,versicolor,1,0
52,52,6.9,3.1,4.9,1.5,versicolor,1,0
53,53,5.5,2.3,4.0,1.3,versicolor,1,0
54,54,6.5,2.8,4.6,1.5,versicolor,1,0
55,55,5.7,2.8,4.5,1.3,versicolor,1,0
56,56,6.3,3.3,4.7,1.6,versicolor,1,0
57,57,4.9,2.4,3.3,1.0,versicolor,1,0
58,58,6.6,2.9,4.6,1.3,versicolor,1,0
59,59,5.2,2.7,3.9,1.4,versicolor,1,0
60,60,5.0,2.0,3.5,1.0,versicolor,1,0
61,61,5.9,3.0,4.2,1.5,versicolor,1,0
62,62,6.0,2.2,4.0,1.0,versicolor,1,0
63,63,6.1,2.9,4.7,1.4,versicolor,1,0
64,64,5.6,2.9,3.6,1.3,versicolor,1,0
65,65,6.7,3.1,4.4,1.4,versicolor,1,0
66,66,5.6,3.0,4.5,1.5,versicolor,1,0
67,67,5.8,2.7,4.1,1.0,versicolor,1,0
68,68,6.2,2.2,4.5,1.5,versicolor,1,0
69,69,5.6,2.5,3.9,1.1,versicolor,1,0
70,70,5.9,3.2,4.8,1.8,versicolor,1,0
71,71,6.1,2.8,4.0,1.3,versicolor,1,0
72,72,6.3,2.5,4.9,1.5,versicolor,1,0
73,73,6.1,2.8,4.7,1.2,versicolor,1,0
74,74,6.4,2.9,4.3,1.3,versicolor,1,0
75,75,6.6,3.0,4.4,1.4,versicolor,1,0
76,76,6.8,2.8,4.8,1.4,versicolor,1,0
77,77,6.7,3.0,5.0,1.7,versicolor,1,0
78,78,6.0,2.9,4.5,1.5,versicolor,1,0
79,79,5.7,2.6,3.5,1.0,versicolor,1,0
80,80,5.5,2.4,3.8,1.1,versicolor,1,0
81,81,5.5,2.4,3.7,1.0,versicolor,1,0
82,82,5.8,2.7,3.9,1.2,versicolor,1,0
83,83,6.0,2.7,5.1,1.6,versicolor,1,0
84,84,5.4,3.0,4.5,1.5,versicolor,1,0
85,85,6.0,3.4,4.5,1.6,versicolor,1,0
86,86,6.7,3.1,4.7,1.5,versicolor,1,0
87,87,6.3,2.3,4.4,1.3,versicolor,1,0
88,88,5.6,3.0,4.1,1.3,versicolor,1,0
89,89,5.5,2.5,4.0,1.3,versicolor,1,0
90,90,5.5,2.6,4.4,1.2,versicolor,1,0
91,91,6.1,3.0,4.6,1.4,versicolor,1,0
92,92,5.8,2.6,4.0,1.2,versicolor,1,0
93,93,5.0,2.3,3.3,1.0,versicolor,1,0
94,94,5.6,2.7,4.2,1.3,versicolor,1,0
95,95,5.7,3.0,4.2,1.2,versicolor,1,0
96,96,5.7,2.9,4.2,1.3,versicolor,1,0
97,97,6.2,2.9,4.3,1.3,versicolor,1,0
98,98,5.1,2.5,3.0,1.1,versicolor,1,0
99,99,5.7,2.8,4.1,1.3,versicolor,1,0
100,100,6.3,3.3,6.0,2.5,virginica,0,1
101,101,5.8,2.7,5.1,1.9,virginica,0,1
102,102,7.1,3.0,5.9,2.1,virginica,0,1
103,103,6.3,2.9,5.6,1.8,virginica,0,1
104,104,6.5,3.0,5.8,2.2,virginica,0,1
105,105,7.6,3.0,6.6,2.1,virginica,0,1
106,106,4.9,2.5,4.5,1.7,virginica,0,1
107,107,7.3,2.9,6.3,1.8,virginica,0,1
108,108,6.7,2.5,5.8,1.8,virginica,0,1
109,109,7.2,3.6,6.1,2.5,virginica,0,1
110,110,6.5,3.2,5.1,2.0,virginica,0,1
111,111,6.4,2.7,5.3,1.9,virginica,0,1
112,112,6.8,3.0,5.5,2.1,virginica,0,1
113,113,5.7,2.5,5.0,2.0,virginica,0,1
114,114,5.8,2.8,5.1,2.4,virginica,0,1
115,115,6.4,3.2,5.3,2.3,virginica,0,1
116,116,6.5,3.0,5.5,1.8,virginica,0,1
117,117,7.7,3.8,6.7,2.2,virginica,0,1
118,118,7.7,2.6,6.9,2.3,virginica,0,1
119,119,6.0,2.2,5.0,1.5,virginica,0,1
120,120,6.9,3.2,5.7,2.3,virginica,0,1
121,121,5.6,2.8,4.9,2.0,virginica,0,1
122,122,7.7,2.8,6.7,2.0,virginica,0,1
123,123,6.3,2.7,4.9,1.8,virginica,0,1
124,124,6.7,3.3,5.7,2.1,virginica,0,1
125,125,7.2,3.2,6.0,1.8,virginica,0,1
126,126,6.2,2.8,4.8,1.8,virginica,0,1
127,127,6.1,3.0,4.9,1.8,virginica,0,1
128,128,6.4,2.8,5.6,2.1,virginica,0,1
129,129,7.2,3.0,5.8,1.6,virginica,0,1
130,130,7.4,2.8,6.1,1.9,virginica,0,1
131,131,7.9,3.8,6.4,2.0,virginica,0,1
132,132,6.4,2.8,5.6,2.2,virginica,0,1
133,133,6.3,2.8,5.1,1.5,virginica,0,1
134,134,6.1,2.6,5.6,1.4,virginica,0,1
135,135,7.7,3.0,6.1,2.3,virginica,0,1
136,136,6.3,3.4,5.6,2.4,virginica,0,1
137,137,6.4,3.1,5.5,1.8,virginica,0,1
138,138,6.0,3.0,4.8,1.8,virginica,0,1
139,139,6.9,3.1,5.4,2.1,virginica,0,1
140,140,6.7,3.1,5.6,2.4,virginica,0,1
141,141,6.9,3.1,5.1,2.3,virginica,0,1
142,142,5.8,2.7,5.1,1.9,virginica,0,1
143,143,6.8,3.2,5.9,2.3,virginica,0,1
144,144,6.7,3.3,5.7,2.5,virginica,0,1
145,145,6.7,3.0,5.2,2.3,virginica,0,1
146,146,6.3,2.5,5.0,1.9,virginica,0,1
147,147,6.5,3.0,5.2,2.0,virginica,0,1
148,148,6.2,3.4,5.4,2.3,virginica,0,1
149,149,5.9,3.0,5.1,1.8,virginica,0,1

Using the Titanic dataset

Use the function defined in acquire.py to load the Titanic data.

In [27]:
titanic_df = acquire.get_titanic_data()
titanic_df

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

Drop any unnecessary, unhelpful, or duplicated columns.

In [28]:
titanic_df.drop([titanic_df.columns[0], 'passenger_id', 'deck', 'embarked','class'], axis = 1, inplace = True)

In [29]:
titanic_df

     survived  pclass     sex   age  sibsp  parch     fare  embark_town  alone
0           0       3    male  22.0      1      0   7.2500  Southampton      0
1           1       1  female  38.0      1      0  71.2833    Cherbourg      0
2           1       3  female  26.0      0      0   7.9250  Southampton      1
3           1       1  female  35.0      1      0  53.1000  Southampton      0
4           0       3    male  35.0      0      0   8.0500  Southampton      1
..        ...     ...     ...   ...    ...    ...      ...          ...    ...
886         0       2    male  27.0      0      0  13.0000  Southampton      1
887         1       1  female  19.0      0      0  30.0000  Southampton      1
888         0       3  female   NaN      1      2  23.4500  Southampton      0
889         1       1    male  26.0      0      0  30.0000    Cherbourg      1
890         0       3    male  32.0      0      0   7.7500   Queenstown      1

[891 rows x 9 columns]

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [30]:
titanic_df['embark_town'].fillna('Southampton',inplace = True)
dummies = pd.get_dummies(titanic_df[['sex','embark_town']],drop_first = [(True, True])
titanic_df = pd.concat([titanic_df,dummies], axis = 1)

In [31]:
titanic_df

,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,3,male,22.0,1,0,7.2500,Southampton,0,1,0,1
1,1,1,female,38.0,1,0,71.2833,Cherbourg,0,0,0,0
2,1,3,female,26.0,0,0,7.9250,Southampton,1,0,0,1
3,1,1,female,35.0,1,0,53.1000,Southampton,0,0,0,1
4,0,3,male,35.0,0,0,8.0500,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,Southampton,1,1,0,1
887,1,1,female,19.0,0,0,30.0000,Southampton,1,0,0,1
888,0,3,female,NaN,1,2,23.4500,Southampton,0,0,0,1
889,1,1,male,26.0,0,0,30.0000,Cherbourg,1,1,0,0
890,0,3,male,32.0,0,0,7.7500,Queenstown,1,1,1,0

Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [45]:
def clean_titanic(df):
    df.drop([titanic_df.columns[0], 'passenger_id', 'deck', 'embarked','class'], axis = 1, inplace = True)
    df['embark_town'].fillna('Southampton',inplace = True)
    dummies = pd.get_dummies(df[['sex','embark_town']],drop_first = [True, True])
    df = pd.concat([df,dummies], axis = 1)
    return df

dirty_titanic = acquire.get_titanic_data()
clean_titanic(dirty_titanic)

,Unnamed: 0,pclass,sex,age,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,3,male,22.0,1,0,7.2500,Southampton,0,1,0,1
1,1,1,female,38.0,1,0,71.2833,Cherbourg,0,0,0,0
2,2,3,female,26.0,0,0,7.9250,Southampton,1,0,0,1
3,3,1,female,35.0,1,0,53.1000,Southampton,0,0,0,1
4,4,3,male,35.0,0,0,8.0500,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,2,male,27.0,0,0,13.0000,Southampton,1,1,0,1
887,887,1,female,19.0,0,0,30.0000,Southampton,1,0,0,1
888,888,3,female,NaN,1,2,23.4500,Southampton,0,0,0,1
889,889,1,male,26.0,0,0,30.0000,Cherbourg,1,1,0,0
890,890,3,male,32.0,0,0,7.7500,Queenstown,1,1,1,0

Using the Telco dataset

Use the function defined in acquire.py to load the Telco data.

In [33]:
telco_df = acquire.get_telco_data()

In [34]:
telco_df.nunique()

Unnamed: 0                  7043
payment_type_id                4
internet_service_type_id       3
contract_type_id               3
customer_id                 7043
gender                         2
senior_citizen                 2
partner                        2
dependents                     2
tenure                        73
phone_service                  2
multiple_lines                 3
online_security                3
online_backup                  3
device_protection              3
tech_support                   3
streaming_tv                   3
streaming_movies               3
paperless_billing              2
monthly_charges             1585
total_charges               6531
churn                          2
contract_type                  3
internet_service_type          3
payment_type                   4
dtype: int64

Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [35]:
telco_df.drop([telco_df.columns[0], 'payment_type_id','internet_service_type_id','contract_type_id'], axis = 1, inplace = True)

In [36]:
telco_df.head(2)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check

Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [37]:
dummies = pd.get_dummies(telco_df[['partner','dependents', 'phone_service','multiple_lines','online_security','online_backup', 'tech_support','streaming_tv','streaming_movies','paperless_billing','churn', 'contract_type']],drop_first = [True, True])
telco_df = pd.concat([telco_df,dummies], axis = 1)
telco_df.head(2)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,0,1,0,1,0,0,1,0,1,0
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,0,0,0,0,0,1,0,0,0,0

Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [38]:
def telco_clean(df):
    df.drop([df.columns[0], 'payment_type_id','internet_service_type_id','contract_type_id'], axis = 1, inplace = True)
    dummies = pd.get_dummies(df[['partner','dependents', 'phone_service','multiple_lines','online_security','online_backup', 'tech_support','streaming_tv','streaming_movies','paperless_billing','churn', 'contract_type']],drop_first = [True])
    df = pd.concat([df,dummies], axis = 1)
    return df

In [39]:
telco_dirty = acquire.get_telco_data()
telco_clean(telco_dirty)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,0,1,0,1,0,0,1,0,1,0
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,0,0,0,0,0,1,0,0,0,0
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,0,0,0,0,0,0,1,1,0,0
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,0,0,0,1,0,1,1,1,0,0
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,0,1,0,1,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,No,...,0,1,0,0,0,0,0,0,1,0
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,No,...,0,0,0,0,0,1,1,1,0,0
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,Yes,...,0,0,0,0,0,0,1,0,0,0
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,No,...,0,1,0,0,0,1,0,0,0,1
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,...,0,0,0,1,0,1,0,0,0,1

Split your data

In [40]:
seed = 42
train, val_test = train_test_split(telco_df, train_size = 0.7, random_state = seed)
validate, test = train_test_split(val_test, train_size = 0.5, random_state = seed)

Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

In [41]:
def train_val_test(df):
    seed = 42
    train, val_test = train_test_split(df, train_size = 0.7, random_state = seed)
    validate, test = train_test_split(val_test, train_size = 0.5, random_state = seed)
    return train, validate, test

Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

In [42]:
prepare.train_val_test(iris_df)

(     Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  \
 81           81           5.5          2.4           3.7          1.0
 133         133           6.3          2.8           5.1          1.5
 137         137           6.4          3.1           5.5          1.8
 75           75           6.6          3.0           4.4          1.4
 109         109           7.2          3.6           6.1          2.5
 96           96           5.7          2.9           4.2          1.3
 105         105           7.6          3.0           6.6          2.1
 66           66           5.6          3.0           4.5          1.5
 0             0           5.1          3.5           1.4          0.2
 122         122           7.7          2.8           6.7          2.0
 67           67           5.8          2.7           4.1          1.0
 28           28           5.2          3.4           1.4          0.2
 40           40           5.0          3.5           1.3          0.3
 44           44           5.1          3.8           1.9          0.4
 60           60           5.0          2.0           3.5          1.0
 123         123           6.3          2.7           4.9          1.8
 24           24           4.8          3.4           1.9          0.2
 25           25           5.0          3.0           1.6          0.2
 23           23           5.1          3.3           1.7          0.5
 94           94           5.6          2.7           4.2          1.3
 39           39           5.1          3.4           1.5          0.2
 95           95           5.7          3.0           4.2          1.2
 117         117           7.7          3.8           6.7          2.2
 47           47           4.6          3.2           1.4          0.2
 97           97           6.2          2.9           4.3          1.3
 113         113           5.7          2.5           5.0          2.0
 33           33           5.5          4.2           1.4          0.2
 138         138           6.0          3.0           4.8          1.8
 101         101           5.8          2.7           5.1          1.9
 62           62           6.0          2.2           4.0          1.0
 84           84           5.4          3.0           4.5          1.5
 148         148           6.2          3.4           5.4          2.3
 53           53           5.5          2.3           4.0          1.3
 5             5           5.4          3.9           1.7          0.4
 93           93           5.0          2.3           3.3          1.0
 111         111           6.4          2.7           5.3          1.9
 49           49           5.0          3.3           1.4          0.2
 35           35           5.0          3.2           1.2          0.2
 80           80           5.5          2.4           3.8          1.1
 77           77           6.7          3.0           5.0          1.7
 34           34           4.9          3.1           1.5          0.2
 114         114           5.8          2.8           5.1          2.4
 7             7           5.0          3.4           1.5          0.2
 43           43           5.0          3.5           1.6          0.6
 70           70           5.9          3.2           4.8          1.8
 98           98           5.1          2.5           3.0          1.1
 120         120           6.9          3.2           5.7          2.3
 83           83           6.0          2.7           5.1          1.6
 134         134           6.1          2.6           5.6          1.4
 135         135           7.7          3.0           6.1          2.3
 89           89           5.5          2.5           4.0          1.3
 8             8           4.4          2.9           1.4          0.2
 13           13           4.3          3.0           1.1          0.1
 119         119           6.0          2.2           5.0          1.5
 125         125           7.2          3.2           6.0          1.8
 3             3           4.6          3.1           1.5          0.2
 17           17           5.1          3.5           1.4          0.3
 38           38           4.4          3.0           1.3          0.2
 72           72           6.3          2.5           4.9          1.5
 136         136           6.3          3.4           5.6          2.4
 6             6           4.6          3.4           1.4          0.3
 112         112           6.8          3.0           5.5          2.1
 100         100           6.3          3.3           6.0          2.5
 2             2           4.7          3.2           1.3          0.2
 63           63           6.1          2.9           4.7          1.4
 54           54           6.5          2.8           4.6          1.5
 126         126           6.2          2.8           4.8          1.8
 50           50           7.0          3.2           4.7          1.4
 115         115           6.4          3.2           5.3          2.3
 46           46           5.1          3.8           1.6          0.2
 139         139           6.9          3.1           5.4          2.1
 61           61           5.9          3.0           4.2          1.5
 147         147           6.5          3.0           5.2          2.0
 79           79           5.7          2.6           3.5          1.0
 59           59           5.2          2.7           3.9          1.4
 91           91           6.1          3.0           4.6          1.4
 41           41           4.5          2.3           1.3          0.3
 58           58           6.6          2.9           4.6          1.3
 90           90           5.5          2.6           4.4          1.2
 48           48           5.3          3.7           1.5          0.2
 88           88           5.6          3.0           4.1          1.3
 107         107           7.3          2.9           6.3          1.8
 124         124           6.7          3.3           5.7          2.1
 21           21           5.1          3.7           1.5          0.4
 57           57           4.9          2.4           3.3          1.0
 144         144           6.7          3.3           5.7          2.5
 129         129           7.2          3.0           5.8          1.6
 37           37           4.9          3.6           1.4          0.1
 140         140           6.7          3.1           5.6          2.4
 1             1           4.9          3.0           1.4          0.2
 52           52           6.9          3.1           4.9          1.5
 130         130           7.4          2.8           6.1          1.9
 103         103           6.3          2.9           5.6          1.8
 99           99           5.7          2.8           4.1          1.3
 116         116           6.5          3.0           5.5          1.8
 87           87           6.3          2.3           4.4          1.3
 74           74           6.4          2.9           4.3          1.3
 121         121           5.6          2.8           4.9          2.0
 149         149           5.9          3.0           5.1          1.8
 20           20           5.4          3.4           1.7          0.2
 71           71           6.1          2.8           4.0          1.3
 106         106           4.9          2.5           4.5          1.7
 14           14           5.8          4.0           1.2          0.2
 92           92           5.8          2.6           4.0          1.2
 102         102           7.1          3.0           5.9          2.1

         species  species_versicolor  species_virginica
 81   versicolor                   1                  0
 133   virginica                   0                  1
 137   virginica                   0                  1
 75   versicolor                   1                  0
 109   virginica                   0                  1
 96   versicolor                   1                  0
 105   virginica                   0                  1
 66   versicolor                   1                  0
 0        setosa                   0                  0
 122   virginica                   0                  1
 67   versicolor                   1                  0
 28       setosa                   0                  0
 40       setosa                   0                  0
 44       setosa                   0                  0
 60   versicolor                   1                  0
 123   virginica                   0                  1
 24       setosa                   0                  0
 25       setosa                   0                  0
 23       setosa                   0                  0
 94   versicolor                   1                  0
 39       setosa                   0                  0
 95   versicolor                   1                  0
 117   virginica                   0                  1
 47       setosa                   0                  0
 97   versicolor                   1                  0
 113   virginica                   0                  1
 33       setosa                   0                  0
 138   virginica                   0                  1
 101   virginica                   0                  1
 62   versicolor                   1                  0
 84   versicolor                   1                  0
 148   virginica                   0                  1
 53   versicolor                   1                  0
 5        setosa                   0                  0
 93   versicolor                   1                  0
 111   virginica                   0                  1
 49       setosa                   0                  0
 35       setosa                   0                  0
 80   versicolor                   1                  0
 77   versicolor                   1                  0
 34       setosa                   0                  0
 114   virginica                   0                  1
 7        setosa                   0                  0
 43       setosa                   0                  0
 70   versicolor                   1                  0
 98   versicolor                   1                  0
 120   virginica                   0                  1
 83   versicolor                   1                  0
 134   virginica                   0                  1
 135   virginica                   0                  1
 89   versicolor                   1                  0
 8        setosa                   0                  0
 13       setosa                   0                  0
 119   virginica                   0                  1
 125   virginica                   0                  1
 3        setosa                   0                  0
 17       setosa                   0                  0
 38       setosa                   0                  0
 72   versicolor                   1                  0
 136   virginica                   0                  1
 6        setosa                   0                  0
 112   virginica                   0                  1
 100   virginica                   0                  1
 2        setosa                   0                  0
 63   versicolor                   1                  0
 54   versicolor                   1                  0
 126   virginica                   0                  1
 50   versicolor                   1                  0
 115   virginica                   0                  1
 46       setosa                   0                  0
 139   virginica                   0                  1
 61   versicolor                   1                  0
 147   virginica                   0                  1
 79   versicolor                   1                  0
 59   versicolor                   1                  0
 91   versicolor                   1                  0
 41       setosa                   0                  0
 58   versicolor                   1                  0
 90   versicolor                   1                  0
 48       setosa                   0                  0
 88   versicolor                   1                  0
 107   virginica                   0                  1
 124   virginica                   0                  1
 21       setosa                   0                  0
 57   versicolor                   1                  0
 144   virginica                   0                  1
 129   virginica                   0                  1
 37       setosa                   0                  0
 140   virginica                   0                  1
 1        setosa                   0                  0
 52   versicolor                   1                  0
 130   virginica                   0                  1
 103   virginica                   0                  1
 99   versicolor                   1                  0
 116   virginica                   0                  1
 87   versicolor                   1                  0
 74   versicolor                   1                  0
 121   virginica                   0                  1
 149   virginica                   0                  1
 20       setosa                   0                  0
 71   versicolor                   1                  0
 106   virginica                   0                  1
 14       setosa                   0                  0
 92   versicolor                   1                  0
 102   virginica                   0                  1  ,
      Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  \
 73           73           6.1          2.8           4.7          1.2
 22           22           4.6          3.6           1.0          0.2
 30           30           4.8          3.1           1.6          0.2
 31           31           5.4          3.4           1.5          0.4
 12           12           4.8          3.0           1.4          0.1
 11           11           4.8          3.4           1.6          0.2
 18           18           5.7          3.8           1.7          0.3
 142         142           5.8          2.7           5.1          1.9
 127         127           6.1          3.0           4.9          1.8
 118         118           7.7          2.6           6.9          2.3
 42           42           4.4          3.2           1.3          0.2
 128         128           6.4          2.8           5.6          2.1
 51           51           6.4          3.2           4.5          1.5
 110         110           6.5          3.2           5.1          2.0
 26           26           5.0          3.4           1.6          0.4
 55           55           5.7          2.8           4.5          1.3
 10           10           5.4          3.7           1.5          0.2
 29           29           4.7          3.2           1.6          0.2
 141         141           6.9          3.1           5.1          2.3
 19           19           5.1          3.8           1.5          0.3
 45           45           4.8          3.0           1.4          0.3
 4             4           5.0          3.6           1.4          0.2

         species  species_versicolor  species_virginica
 73   versicolor                   1                  0
 22       setosa                   0                  0
 30       setosa                   0                  0
 31       setosa                   0                  0
 12       setosa                   0                  0
 11       setosa                   0                  0
 18       setosa                   0                  0
 142   virginica                   0                  1
 127   virginica                   0                  1
 118   virginica                   0                  1
 42       setosa                   0                  0
 128   virginica                   0                  1
 51   versicolor                   1                  0
 110   virginica                   0                  1
 26       setosa                   0                  0
 55   versicolor                   1                  0
 10       setosa                   0                  0
 29       setosa                   0                  0
 141   virginica                   0                  1
 19       setosa                   0                  0
 45       setosa                   0                  0
 4        setosa                   0                  0  ,
      Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  \
 32           32           5.2          4.1           1.5          0.1
 145         145           6.7          3.0           5.2          2.3
 108         108           6.7          2.5           5.8          1.8
 16           16           5.4          3.9           1.3          0.4
 146         146           6.3          2.5           5.0          1.9
 85           85           6.0          3.4           4.5          1.6
 76           76           6.8          2.8           4.8          1.4
 36           36           5.5          3.5           1.3          0.2
 68           68           6.2          2.2           4.5          1.5
 78           78           6.0          2.9           4.5          1.5
 64           64           5.6          2.9           3.6          1.3
 131         131           7.9          3.8           6.4          2.0
 65           65           6.7          3.1           4.4          1.4
 132         132           6.4          2.8           5.6          2.2
 69           69           5.6          2.5           3.9          1.1
 9             9           4.9          3.1           1.5          0.1
 86           86           6.7          3.1           4.7          1.5
 56           56           6.3          3.3           4.7          1.6
 82           82           5.8          2.7           3.9          1.2
 104         104           6.5          3.0           5.8          2.2
 27           27           5.2          3.5           1.5          0.2
 15           15           5.7          4.4           1.5          0.4
 143         143           6.8          3.2           5.9          2.3

         species  species_versicolor  species_virginica
 32       setosa                   0                  0
 145   virginica                   0                  1
 108   virginica                   0                  1
 16       setosa                   0                  0
 146   virginica                   0                  1
 85   versicolor                   1                  0
 76   versicolor                   1                  0
 36       setosa                   0                  0
 68   versicolor                   1                  0
 78   versicolor                   1                  0
 64   versicolor                   1                  0
 131   virginica                   0                  1
 65   versicolor                   1                  0
 132   virginica                   0                  1
 69   versicolor                   1                  0
 9        setosa                   0                  0
 86   versicolor                   1                  0
 56   versicolor                   1                  0
 82   versicolor                   1                  0
 104   virginica                   0                  1
 27       setosa                   0                  0
 15       setosa                   0                  0
 143   virginica                   0                  1  )

Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

In [43]:
prepare.train_val_test(titanic_df)

(     survived  pclass     sex   age  sibsp  parch      fare  embark_town  \
 445         1       1    male   4.0      0      2   81.8583  Southampton
 650         0       3    male   NaN      0      0    7.8958  Southampton
 172         1       3  female   1.0      1      1   11.1333  Southampton
 450         0       2    male  36.0      1      2   27.7500  Southampton
 314         0       2    male  43.0      1      1   26.2500  Southampton
 ..        ...     ...     ...   ...    ...    ...       ...          ...
 106         1       3  female  21.0      0      0    7.6500  Southampton
 270         0       1    male   NaN      0      0   31.0000  Southampton
 860         0       3    male  41.0      2      0   14.1083  Southampton
 435         1       1  female  14.0      1      2  120.0000  Southampton
 102         0       1    male  21.0      0      1   77.2875  Southampton

      alone  sex_male  embark_town_Queenstown  embark_town_Southampton
 445      0         1                       0                        1
 650      1         1                       0                        1
 172      0         0                       0                        1
 450      0         1                       0                        1
 314      0         1                       0                        1
 ..     ...       ...                     ...                      ...
 106      1         0                       0                        1
 270      1         1                       0                        1
 860      0         1                       0                        1
 435      0         0                       0                        1
 102      0         1                       0                        1

 [623 rows x 12 columns],
      survived  pclass     sex    age  sibsp  parch      fare  embark_town  \
 477         0       3    male  29.00      1      0    7.0458  Southampton
 377         0       1    male  27.00      0      2  211.5000    Cherbourg
 535         1       2  female   7.00      0      2   26.2500  Southampton
 306         1       1  female    NaN      0      0  110.8833    Cherbourg
 30          0       1    male  40.00      0      0   27.7208    Cherbourg
 346         1       2  female  40.00      0      0   13.0000  Southampton
 572         1       1    male  36.00      0      0   26.3875  Southampton
 709         1       3    male    NaN      1      1   15.2458    Cherbourg
 424         0       3    male  18.00      1      1   20.2125  Southampton
 545         0       1    male  64.00      0      0   26.0000  Southampton
 542         0       3  female  11.00      4      2   31.2750  Southampton
 486         1       1  female  35.00      1      0   90.0000  Southampton
 327         1       2  female  36.00      0      0   13.0000  Southampton
 23          1       1    male  28.00      0      0   35.5000  Southampton
 446         1       2  female  13.00      0      1   19.5000  Southampton
 704         0       3    male  26.00      1      0    7.8542  Southampton
 518         1       2  female  36.00      1      0   26.0000  Southampton
 696         0       3    male  44.00      0      0    8.0500  Southampton
 456         0       1    male  65.00      0      0   26.5500  Southampton
 101         0       3    male    NaN      0      0    7.8958  Southampton
 673         1       2    male  31.00      0      0   13.0000  Southampton
 852         0       3  female   9.00      1      1   15.2458    Cherbourg
 39          1       3  female  14.00      1      0   11.2417    Cherbourg
 275         1       1  female  63.00      1      0   77.9583  Southampton
 793         0       1    male    NaN      0      0   30.6958    Cherbourg
 800         0       2    male  34.00      0      0   13.0000  Southampton
 404         0       3  female  20.00      0      0    8.6625  Southampton
 845         0       3    male  42.00      0      0    7.5500  Southampton
 426         1       2  female  28.00      1      0   26.0000  Southampton
 830         1       3  female  15.00      1      0   14.4542    Cherbourg
 578         0       3  female    NaN      1      0   14.4583    Cherbourg
 428         0       3    male    NaN      0      0    7.7500   Queenstown
 365         0       3    male  30.00      0      0    7.2500  Southampton
 312         0       2  female  26.00      1      1   26.0000  Southampton
 708         1       1  female  22.00      0      0  151.5500  Southampton
 196         0       3    male    NaN      0      0    7.7500   Queenstown
 362         0       3  female  45.00      0      1   14.4542    Cherbourg
 382         0       3    male  32.00      0      0    7.9250  Southampton
 643         1       3    male    NaN      0      0   56.4958  Southampton
 120         0       2    male  21.00      2      0   73.5000  Southampton
 78          1       2    male   0.83      0      2   29.0000  Southampton
 109         1       3  female    NaN      1      0   24.1500   Queenstown
 682         0       3    male  20.00      0      0    9.2250  Southampton
 482         0       3    male  50.00      0      0    8.0500  Southampton
 533         1       3  female    NaN      0      2   22.3583    Cherbourg
 66          1       2  female  29.00      0      0   10.5000  Southampton
 739         0       3    male    NaN      0      0    7.8958  Southampton
 742         1       1  female  21.00      2      2  262.3750    Cherbourg
 350         0       3    male  23.00      0      0    9.2250  Southampton
 76          0       3    male    NaN      0      0    7.8958  Southampton
 412         1       1  female  33.00      1      0   90.0000   Queenstown
 507         1       1    male    NaN      0      0   26.5500  Southampton
 790         0       3    male    NaN      0      0    7.7500   Queenstown
 416         1       2  female  34.00      1      1   32.5000  Southampton
 753         0       3    male  23.00      0      0    7.8958  Southampton
 720         1       2  female   6.00      0      1   33.0000  Southampton
 442         0       3    male  25.00      1      0    7.7750  Southampton
 802         1       1    male  11.00      1      2  120.0000  Southampton
 777         1       3  female   5.00      0      0   12.4750  Southampton
 60          0       3    male  22.00      0      0    7.2292    Cherbourg
 7           0       3    male   2.00      3      1   21.0750  Southampton
 465         0       3    male  38.00      0      0    7.0500  Southampton
 659         0       1    male  58.00      0      2  113.2750    Cherbourg
 375         1       1  female    NaN      1      0   82.1708    Cherbourg
 266         0       3    male  16.00      4      1   39.6875  Southampton
 204         1       3    male  18.00      0      0    8.0500  Southampton
 316         1       2  female  24.00      1      0   26.0000  Southampton
 333         0       3    male  16.00      2      0   18.0000  Southampton
 417         1       2  female  18.00      0      2   13.0000  Southampton
 781         1       1  female  17.00      1      0   57.0000  Southampton
 367         1       3  female    NaN      0      0    7.2292    Cherbourg
 669         1       1  female    NaN      1      0   52.0000  Southampton
 541         0       3  female   9.00      4      2   31.2750  Southampton
 778         0       3    male    NaN      0      0    7.7375   Queenstown
 212         0       3    male  22.00      0      0    7.2500  Southampton
 660         1       1    male  50.00      2      0  133.6500  Southampton
 250         0       3    male    NaN      0      0    7.2500  Southampton
 208         1       3  female  16.00      0      0    7.7500   Queenstown
 244         0       3    male  30.00      0      0    7.2250    Cherbourg
 44          1       3  female  19.00      0      0    7.8792   Queenstown
 626         0       2    male  57.00      0      0   12.3500   Queenstown
 65          1       3    male    NaN      1      1   15.2458    Cherbourg
 653         1       3  female    NaN      0      0    7.8292   Queenstown
 398         0       2    male  23.00      0      0   10.5000  Southampton
 889         1       1    male  26.00      0      0   30.0000    Cherbourg
 355         0       3    male  28.00      0      0    9.5000  Southampton
 599         1       1    male  49.00      1      0   56.9292    Cherbourg
 478         0       3    male  22.00      0      0    7.5208  Southampton
 588         0       3    male  22.00      0      0    8.0500  Southampton
 168         0       1    male    NaN      0      0   25.9250  Southampton
 280         0       3    male  65.00      0      0    7.7500   Queenstown
 462         0       1    male  47.00      0      0   38.5000  Southampton
 448         1       3  female   5.00      2      1   19.2583    Cherbourg
 2           1       3  female  26.00      0      0    7.9250  Southampton
 433         0       3    male  17.00      0      0    7.1250  Southampton
 405         0       2    male  34.00      1      0   21.0000  Southampton
 865         1       2  female  42.00      0      0   13.0000  Southampton
 344         0       2    male  36.00      0      0   13.0000  Southampton
 390         1       1    male  36.00      1      2  120.0000  Southampton
 464         0       3    male    NaN      0      0    8.0500  Southampton
 425         0       3    male    NaN      0      0    7.2500  Southampton
 363         0       3    male  35.00      0      0    7.0500  Southampton
 211         1       2  female  35.00      0      0   21.0000  Southampton
 880         1       2  female  25.00      0      1   26.0000  Southampton
 210         0       3    male  24.00      0      0    7.0500  Southampton
 822         0       1    male  38.00      0      0    0.0000  Southampton
 148         0       2    male  36.50      0      2   26.0000  Southampton
 447         1       1    male  34.00      0      0   26.5500  Southampton
 299         1       1  female  50.00      0      1  247.5208    Cherbourg
 483         1       3  female  63.00      0      0    9.5875  Southampton
 296         0       3    male  23.50      0      0    7.2292    Cherbourg
 821         1       3    male  27.00      0      0    8.6625  Southampton
 29          0       3    male    NaN      0      0    7.8958  Southampton
 239         0       2    male  33.00      0      0   12.2750  Southampton
 494         0       3    male  21.00      0      0    8.0500  Southampton
 198         1       3  female    NaN      0      0    7.7500   Queenstown
 82          1       3  female    NaN      0      0    7.7875   Queenstown
 554         1       3  female  22.00      0      0    7.7750  Southampton
 133         1       2  female  29.00      1      0   26.0000  Southampton
 439         0       2    male  31.00      0      0   10.5000  Southampton
 360         0       3    male  40.00      1      4   27.9000  Southampton
 668         0       3    male  43.00      0      0    8.0500  Southampton
 359         1       3  female    NaN      0      0    7.8792   Queenstown
 514         0       3    male  24.00      0      0    7.4958  Southampton
 321         0       3    male  27.00      0      0    7.8958  Southampton
 309         1       1  female  30.00      0      0   56.9292    Cherbourg
 409         0       3  female    NaN      3      1   25.4667  Southampton
 218         1       1  female  32.00      0      0   76.2917    Cherbourg
 430         1       1    male  28.00      0      0   26.5500  Southampton
 294         0       3    male  24.00      0      0    7.8958  Southampton
 55          1       1    male    NaN      0      0   35.5000  Southampton
 311         1       1  female  18.00      2      2  262.3750    Cherbourg
 670         1       2  female  40.00      1      1   39.0000  Southampton
 291         1       1  female  19.00      1      0   91.0792    Cherbourg

      alone  sex_male  embark_town_Queenstown  embark_town_Southampton
 477      0         1                       0                        1
 377      0         1                       0                        0
 535      0         0                       0                        1
 306      1         0                       0                        0
 30       1         1                       0                        0
 346      1         0                       0                        1
 572      1         1                       0                        1
 709      0         1                       0                        0
 424      0         1                       0                        1
 545      1         1                       0                        1
 542      0         0                       0                        1
 486      0         0                       0                        1
 327      1         0                       0                        1
 23       1         1                       0                        1
 446      0         0                       0                        1
 704      0         1                       0                        1
 518      0         0                       0                        1
 696      1         1                       0                        1
 456      1         1                       0                        1
 101      1         1                       0                        1
 673      1         1                       0                        1
 852      0         0                       0                        0
 39       0         0                       0                        0
 275      0         0                       0                        1
 793      1         1                       0                        0
 800      1         1                       0                        1
 404      1         0                       0                        1
 845      1         1                       0                        1
 426      0         0                       0                        1
 830      0         0                       0                        0
 578      0         0                       0                        0
 428      1         1                       1                        0
 365      1         1                       0                        1
 312      0         0                       0                        1
 708      1         0                       0                        1
 196      1         1                       1                        0
 362      0         0                       0                        0
 382      1         1                       0                        1
 643      1         1                       0                        1
 120      0         1                       0                        1
 78       0         1                       0                        1
 109      0         0                       1                        0
 682      1         1                       0                        1
 482      1         1                       0                        1
 533      0         0                       0                        0
 66       1         0                       0                        1
 739      1         1                       0                        1
 742      0         0                       0                        0
 350      1         1                       0                        1
 76       1         1                       0                        1
 412      0         0                       1                        0
 507      1         1                       0                        1
 790      1         1                       1                        0
 416      0         0                       0                        1
 753      1         1                       0                        1
 720      0         0                       0                        1
 442      0         1                       0                        1
 802      0         1                       0                        1
 777      1         0                       0                        1
 60       1         1                       0                        0
 7        0         1                       0                        1
 465      1         1                       0                        1
 659      0         1                       0                        0
 375      0         0                       0                        0
 266      0         1                       0                        1
 204      1         1                       0                        1
 316      0         0                       0                        1
 333      0         1                       0                        1
 417      0         0                       0                        1
 781      0         0                       0                        1
 367      1         0                       0                        0
 669      0         0                       0                        1
 541      0         0                       0                        1
 778      1         1                       1                        0
 212      1         1                       0                        1
 660      0         1                       0                        1
 250      1         1                       0                        1
 208      1         0                       1                        0
 244      1         1                       0                        0
 44       1         0                       1                        0
 626      1         1                       1                        0
 65       0         1                       0                        0
 653      1         0                       1                        0
 398      1         1                       0                        1
 889      1         1                       0                        0
 355      1         1                       0                        1
 599      0         1                       0                        0
 478      1         1                       0                        1
 588      1         1                       0                        1
 168      1         1                       0                        1
 280      1         1                       1                        0
 462      1         1                       0                        1
 448      0         0                       0                        0
 2        1         0                       0                        1
 433      1         1                       0                        1
 405      0         1                       0                        1
 865      1         0                       0                        1
 344      1         1                       0                        1
 390      0         1                       0                        1
 464      1         1                       0                        1
 425      1         1                       0                        1
 363      1         1                       0                        1
 211      1         0                       0                        1
 880      0         0                       0                        1
 210      1         1                       0                        1
 822      1         1                       0                        1
 148      0         1                       0                        1
 447      1         1                       0                        1
 299      0         0                       0                        0
 483      1         0                       0                        1
 296      1         1                       0                        0
 821      1         1                       0                        1
 29       1         1                       0                        1

Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [44]:
prepare.train_val_test(telco_df)

(     customer_id  gender  senior_citizen partner dependents  tenure  \
 1695  2472-OVKUP    Male               0     Yes         No       6
 1095  1596-BBVTG    Male               0      No         No      35
 3889  5469-NUJUR    Male               0      No         No      19
 3667  5175-WLYXL    Male               0      No         No      22
 2902  4134-BSXLX    Male               0     Yes         No      28
 ...          ...     ...             ...     ...        ...     ...
 3772  5310-NOOVA    Male               0      No         No      46
 5191  7302-ZHMHP  Female               0      No         No       1
 5226  7356-AYNJP  Female               0      No         No       4
 5390  7601-WFVZV    Male               0      No         No       1
 860   1248-DYXUB    Male               0     Yes        Yes      52

      phone_service multiple_lines      online_security        online_backup  \
 1695           Yes             No                   No                  Yes
 1095           Yes            Yes                   No                   No
 3889           Yes             No  No internet service  No internet service
 3667           Yes            Yes                   No                  Yes
 2902           Yes             No                  Yes                  Yes
 ...            ...            ...                  ...                  ...
 3772           Yes             No  No internet service  No internet service
 5191           Yes             No  No internet service  No internet service
 5226           Yes            Yes  No internet service  No internet service
 5390           Yes             No  No internet service  No internet service
 860            Yes            Yes  No internet service  No internet service

       ... tech_support_No internet service tech_support_Yes  \
 1695  ...                                0                0
 1095  ...                                0                0
 3889  ...                                1                0
 3667  ...                                0                0
 2902  ...                                0                1
 ...   ...                              ...              ...
 3772  ...                                1                0
 5191  ...                                1                0
 5226  ...                                1                0
 5390  ...                                1                0
 860   ...                                1                0

      streaming_tv_No internet service streaming_tv_Yes  \
 1695                                0                0
 1095                                0                0
 3889                                1                0
 3667                                0                0
 2902                                0                0
 ...                               ...              ...
 3772                                1                0
 5191                                1                0
 5226                                1                0
 5390                                1                0
 860                                 1                0

      streaming_movies_No internet service  streaming_movies_Yes  \
 1695                                    0                     1
 1095                                    0                     0
 3889                                    1                     0
 3667                                    0                     0
 2902                                    0                     0
 ...                                   ...                   ...
 3772                                    1                     0
 5191                                    1                     0
 5226                                    1                     0
 5390                                    1                     0
 860                                     1                     0

      paperless_billing_Yes churn_Yes contract_type_One year  \
 1695                     1         1                      0
 1095                     0         1                      0
 3889                     1         0                      0
 3667                     1         0                      0
 2902                     0         0                      0
 ...                    ...       ...                    ...
 3772                     0         0                      0
 5191                     0         0                      0
 5226                     0         0                      1
 5390                     0         0                      0
 860                      0         0                      0

      contract_type_Two year
 1695                      0
 1095                      0
 3889                      1
 3667                      0
 2902                      0
 ...                     ...
 3772                      1
 5191                      0
 5226                      0
 5390                      0
 860                       1

 [4930 rows x 40 columns],
      customer_id  gender  senior_citizen partner dependents  tenure  \
 5743  8080-POTJR  Female               0      No         No      30
 3207  4597-NUCQV    Male               1      No         No      24
 2574  3678-MNGZX    Male               0     Yes        Yes      68
 6085  8624-GIOUT  Female               0      No         No      49
 676   0991-BRRFB    Male               0      No         No      18
 ...          ...     ...             ...     ...        ...     ...
 422   0621-HJWXJ  Female               0     Yes         No      63
 5038  7083-MIOPC  Female               0      No         No      72
 5327  7524-VRLPL    Male               1      No         No      69
 479   0699-NDKJM  Female               0     Yes         No      57
 6675  9492-TOKRI  Female               0      No         No      18

      phone_service    multiple_lines      online_security  \
 5743           Yes               Yes                  Yes
 3207           Yes               Yes                   No
 2574           Yes                No  No internet service
 6085           Yes               Yes                  Yes
 676            Yes                No                  Yes
 ...            ...               ...                  ...
 422            Yes               Yes                   No
 5038           Yes                No  No internet service
 5327           Yes               Yes                  Yes
 479             No  No phone service                  Yes
 6675           Yes               Yes                   No

             online_backup  ... tech_support_No internet service  \
 5743                   No  ...                                0
 3207                  Yes  ...                                0
 2574  No internet service  ...                                1
 6085                  Yes  ...                                0
 676                    No  ...                                0
 ...                   ...  ...                              ...
 422                   Yes  ...                                0
 5038  No internet service  ...                                1
 5327                   No  ...                                0
 479                   Yes  ...                                0
 6675                  Yes  ...                                0

      tech_support_Yes streaming_tv_No internet service streaming_tv_Yes  \
 5743                0                                0                1
 3207                0                                0                1
 2574                0                                1                0
 6085                0                                0                0
 676                 0                                0                0
 ...               ...                              ...              ...
 422                 0                                0                0
 5038                0                                1                0
 5327                1                                0                0
 479                 0                                0                1
 6675                0                                0                1

      streaming_movies_No internet service  streaming_movies_Yes  \
 5743                                    0                     1
 3207                                    0                     1
 2574                                    1                     0
 6085                                    0                     0
 676                                     0                     0
 ...                                   ...                   ...
 422                                     0                     0
 5038                                    1                     0
 5327                                    0                     1
 479                                     0                     1
 6675                                    0                     0

      paperless_billing_Yes churn_Yes contract_type_One year  \
 5743                     1         0                      1
 3207                     1         1                      0
 2574                     0         0                      0
 6085                     1         1                      0
 676                      0         1                      0
 ...                    ...       ...                    ...
 422                      1         0                      0
 5038                     0         0                      0
 5327                     0         0                      0
 479                      1         0                      0
 6675                     1         1                      0

      contract_type_Two year
 5743                      0
 3207                      0
 2574                      1
 6085                      0
 676                       0
 ...                     ...
 422                       0
 5038                      1
 5327                      1
 479                       0
 6675                      0

 [1056 rows x 40 columns],
      customer_id  gender  senior_citizen partner dependents  tenure  \
 23    0030-FNXPP  Female               0      No         No       3
 3114  4465-VDKIQ  Female               0      No         No      18
 5525  7780-OTDSO    Male               0     Yes         No      18
 437   0639-TSIQW  Female               0      No         No      67
 3615  5129-JLPIS    Male               0      No         No      25
 ...          ...     ...             ...     ...        ...     ...
 4121  5829-NVSQN  Female               0     Yes         No      23
 6283  8885-QSQBX  Female               0      No         No       1
 3871  5445-PZWGX    Male               0      No         No      62
 1436  2120-SMPEX    Male               0      No         No      25
 3464  4910-AQFFX    Male               0     Yes        Yes       9

      phone_service multiple_lines      online_security        online_backup  \
 23             Yes             No  No internet service  No internet service
 3114           Yes             No                   No                  Yes
 5525           Yes            Yes                  Yes                   No
 437            Yes            Yes                  Yes                  Yes
 3615           Yes             No                  Yes                   No
 ...            ...            ...                  ...                  ...
 4121           Yes             No                  Yes                   No
 6283           Yes             No                  Yes                   No
 3871           Yes            Yes                  Yes                  Yes
 1436           Yes             No  No internet service  No internet service
 3464           Yes            Yes                   No                   No

       ... tech_support_No internet service tech_support_Yes  \
 23    ...                                1                0
 3114  ...                                0                0
 5525  ...                                0                0
 437   ...                                0                0
 3615  ...                                0                1
 ...   ...                              ...              ...
 4121  ...                                0                1
 6283  ...                                0                0
 3871  ...                                0                1
 1436  ...                                1                0
 3464  ...                                0                0

      streaming_tv_No internet service streaming_tv_Yes  \
 23                                  1                0
 3114                                0                0
 5525                                0                1
 437                                 0                1
 3615                                0                1
 ...                               ...              ...
 4121                                0                0
 6283                                0                0
 3871                                0                0
 1436                                1                0
 3464                                0                0

      streaming_movies_No internet service  streaming_movies_Yes  \
 23                                      1                     0
 3114                                    0                     0
 5525                                    0                     1
 437                                     0                     0
 3615                                    0                     1
 ...                                   ...                   ...
 4121                                    0                     1
 6283                                    0                     0
 3871                                    0                     1
 1436                                    1                     0
 3464                                    0                     0

      paperless_billing_Yes churn_Yes contract_type_One year  \
 23                       0         0                      0
 3114                     0         0                      0
 5525                     1         1                      0
 437                      1         1                      0
 3615                     1         0                      0
 ...                    ...       ...                    ...
 4121                     1         0                      1
 6283                     0         0                      0
 3871                     0         1                      1
 1436                     1         0                      0
 3464                     1         1                      0

      contract_type_Two year
 23                        0
 3114                      0
 5525                      0
 437                       0
 3615                      0
 ...                     ...
 4121                      0
 6283                      0
 3871                      0
 1436                      0
 3464                      0

 [1057 rows x 40 columns])

In [ ]:
categorical=[]
numerical = []

In [ ]:
for col in telco.columns:
    if telco[col]

In [ ]:
def train_val_test(df, target = ''):
    seed = 42
    train, val_test = train_test_split(df, train_size = 0.7, random_state = seed, stratify = target)
    validate, test = train_test_split(val_test, train_size = 0.5, random_state = seed, stratify = target
    return train, validate, test
                                      
#example from review