In [1]:
import pandas as pd
from scipy import stats
from pydataset import data
import numpy as np
import env
import os
import prepare
import acquire
import prepare
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import seaborn as sns

import matplotlib.pyplot as plt

Read the data from the attendance table and calculate an attendance percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

In [6]:
#df_untidy = pd.read_sql('SELECT * FROM attendance', acquire.get_connection('tidy_db'))
#df_untidy.head()

df_untidy = pd.read_csv('tidy_attendance.csv')
df_untidy

df_untidy = df_untidy.pivot(index =  columns = "unnamned:0")

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P